
.oscItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1px;
    background: radial-gradient(#ffa6a6, transparent);
    /*width: 288px;*/
}

.oscItem .oscItem-topRow {
    display: flex;
    align-items: flex-end;
}

.oscItem .changes {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    padding: 1px 4px;
    box-sizing: border-box;
    text-overflow: ellipsis;
}

.oscItem .oscItem-bottomRow {
    display: flex;
}

.oscItem .oscHoldButton {
    width: 86px;
    padding-left: 3px;
}

.oscItem .oscStartButton {

}

.oscItem .oscStopButton {

}

.oscItem .oscAddParamButton {

}

.oscParamForm {
    display: flex;
}

.oscParamForm input {
    width: 90px;
    box-sizing: border-box;
}

.oscParamForm select {
    width: 90px;
    box-sizing: border-box;
}

.envForm {
    display: flex;
}

.envForm input {
    width: 43px;
    box-sizing: border-box;
}

