.freqInputContainer {
    position: relative;

}


.freqInputContainer select  {
    height: 100%;
}

.freqInputContainer.freqInputContainer_const select  {
    display: none;
    position: absolute;
    left: 100%;
    top: 0
}
.freqInputContainer.freqInputContainer_const:hover select  {
    display: flex;
}

.freqInputContainer:not(.freqInputContainer_const) select  {
    display: flex;

}